<h1 class="fw-bolder text-capitalize">
<a class="text-decoration-none link-light" href="{{ page.Permalink }}">{{ page.Title }}</a>
</h1>

{{ page.ContentPreRendered }}

{% assign sortedPages = page.RegularPages | sort: 'Date' | reverse %}
{% for pageList in sortedPages %}
    {{ pageList.Content }}
{% endfor %}
